<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描指定包 （将带有Component 注解的类自动定义为 Spring Bean）-->
    <context:component-scan base-package="com.mark.proxy"/>


    <!-- 配置一个切面-->
    <bean id="helloAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="greetingAroundAdvice"></property><!-- 增强 -->
        <property name="pattern" value="com.mark.proxy.bean.HelloImpl.good.*"></property><!-- 切点（正则表达式） -->
    </bean>
    <!-- 配置一个代理-->
    <bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="helloImpl"></property><!-- 目标类 -->
        <property name="interceptorNames" value="helloAdvisor"></property><!-- 切面 -->
        <property name="proxyTargetClass" value="true"></property><!-- 代理目标类 -->
    </bean>

    <!-- 自动代理-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">-->
        <!--<property name="beanNames" value=".Impl"></property>&lt;!&ndash; 生成代理&ndash;&gt;-->
        <!--<property name="interceptorNames"  value="greetingAroundAdvice"></property>&lt;!&ndash; 增强&ndash;&gt;-->
        <!--<property name="optimize" value="true"></property>&lt;!&ndash; 是否对代理生成策略进行优化&ndash;&gt;-->
    <!--</bean>-->

    <!-- 自动代理-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">-->
        <!--<property name="optimize" value="true"></property>-->
    <!--</bean>-->

</beans>